ddgs
langgraph.checkpoint.sqlite
langchain_mcp_adapters
langgraph
langchain_community
langchain_openai
langchain_groq
dotenv
streamlit
langchain_core
fastmcp
pypdf
faiss-cpu
langgraph-checkpoint-postgres
psycopg[binary, pool]